*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
 body{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #ececec;
}
#myChartContainer{
   width: 900px;
} 
.continentBtnContainer{
   padding: 5px;
   margin-top: 10px;
}
.citeisBtns{
   padding: 2px;
   margin: 3px;
   background-color: #f2d6a5;
   color: #272343;
   cursor: pointer;
   border: solid 1px #777;
   border-radius: 7px;
   width: fit-content;
   height: fit-content;
}
.city{
   font-size: 0.7rem;
}
.cityCon{
   display: flex;
   justify-content: center;
   width: calc(100% - 20px);
}
.title{
   margin: 5px;
}
.turn_screen{
   display: none;
}
@media (max-width: 1000px) {
   #myChartContainer{
      width: 600px;
   } 
   .cityCon{
      width: calc(100% - 230px);
   }
 }
 @media (max-width: 600px) {
   #myChartContainer{
      width: 400px;
   } 
   .cityCon{
      width: calc(100% - 230px);
   }
 }
 @media (max-width: 600px) {
   #myChartContainer{
      display: none;
   } 
   .cityCon{
      display: none;
   }
   .continentBtnContainer{ 
       display: none;
   }
   .myChartContainer{
      display: none;
   } 
   .turn_screen{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100vw;
       height: 100vh;
       padding: 20px;
   }
   .turn_screen h1{
       text-align: center;
       font-size: 50px;
   }
 }